In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="movies"
)

In [4]:
mycursor = mydb.cursor()

In [11]:
#Exercici1- En la taula movies.tb_movie hi ha un llistat de pel·lícules amb la seva data, el format, el gènere al qual pertany,
#l'usuari que l'ha creat(OS_SGAD per defecte), la data de creació i la data d'actualització ambdós casos no hi ha informació (None)
#i la clau primària és (MOVIE_ID)

sql = ("SELECT * FROM movies.tb_movie")

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
    print(x)

(1, 'Apocalypse Now', datetime.date(1979, 5, 10), 'Film', 11, 'OS_SGAD', None, None)
(2, 'Star Wars:Episode IV - A New Hope', datetime.date(1977, 5, 25), 'Film', 2, 'OS_SGAD', None, None)
(3, 'Indiana Jones and the Temple of Doom', datetime.date(1984, 5, 8), 'Film', 1, 'OS_SGAD', None, None)
(4, 'The Terminal', datetime.date(2004, 6, 18), 'Digital', 3, 'OS_SGAD', None, None)
(5, 'Jaws', datetime.date(1975, 1, 1), 'Film', 10, 'OS_SGAD', None, None)
(6, 'ET The Extraterrestrial', datetime.date(1982, 7, 25), 'Film', 5, 'OS_SGAD', None, None)
(7, 'Psycho', datetime.date(1960, 5, 6), 'Film', 9, 'OS_SGAD', None, None)
(8, 'Ocho Apellidos Vascos', datetime.date(2014, 3, 14), 'Digital', 3, 'OS_SGAD', None, None)
(9, 'Ocho Apellidos Catalanes', datetime.date(2016, 6, 9), 'Digital', 3, 'OS_SGAD', None, None)
(10, 'El otro lado de la cama', datetime.date(2002, 9, 4), 'Digital', 8, 'OS_SGAD', None, None)
(12, 'El dia de la bestia', datetime.date(1994, 12, 25), 'Film', 1, 'OS_SGAD', None, None)
(13, 'Braveheart', datetime.date(1995, 8, 8), 'Film', 4, 'OS_SGAD', None, None)
(14, 'The Shawshank Redemption', datetime.date(1992, 1, 7), 'Film', 4, 'OS_SGAD', None, None)
(15, 'Las brujas de Zugarramurdi', datetime.date(2009, 10, 7), 'Digital', 9, 'OS_SGAD', None, None)
(16, 'Blade Runner', datetime.date(1982, 12, 25), 'Digital', 2, 'OS_SGAD', None, None)

In [12]:
#En la taula movies.tb_genre surten els diferents gèneres, l'usuari que l'ha creat(OS_SGAD per defecte), la data de creació i la data de actualització en aquest cas ambdos casos no hi 
#data d'actualització (None) i la clau primària és (GENRE_ID), surt el gènere documental perquè he fet l'exercici amb posterioritat.
#en aquest cas sí que hi ha informació d'un usuari que he creat el registre Melodrama.

sql = ("SELECT * FROM movies.tb_genre")

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
    print(x)

(1, 'Acción', 'OS_SGAD', None, None)
(2, 'Ciencia Ficción', 'OS_SGAD', None, None)
(3, 'Comedia', 'OS_SGAD', None, None)
(4, 'Drama', 'OS_SGAD', None, None)
(5, 'Fantasía', 'apermag', None, None)
(6, 'Melodrama', 'apermag', datetime.date(2018, 9, 1), datetime.date(2018, 9, 27))
(7, 'Musical', 'OS_SGAD', None, None)
(8, 'Romance', 'OS_SGAD', None, None)
(9, 'Suspense', 'OS_SGAD', None, None)
(10, 'Terror', 'OS_SGAD', None, None)
(11, 'Bélico', 'OS_SGAD', None, None)
(69, 'Documental', 'OS_SGAD', None, None)

In [13]:
#En la taula movies.tb_role surten rols principals que trobem a l'hora de fer una pel·lícula, l'usuari que l'ha creat(OS_SGAD per defecte), la data de creació i la data de actualització en aquest cas ambdos casos no hi 
#data d'actualització (None) i la clau primària és (ROLE_ID)

sql = ("SELECT * FROM movies.tb_role")

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
    print(x)

(1, 'Actor', 'OS_SGAD', None, None)
(2, 'Director', 'OS_SGAD', None, None)
(3, 'Productor', 'OS_SGAD', None, None)
(4, 'Guionista', 'OS_SGAD', None, None)
(5, 'Música', 'OS_SGAD', None, None)

In [14]:
#En la taula movies.tb_person surten els noms dels directors, actors, guionistes, productors i músics, la seva data de naixement
#i data de mort (Si és el cas), l'id del seu pare (que està buit), l'usuari que l'ha creat(OS_SGAD per defecte), la data de creació
#i data d'actualització (None) i la clau primària és (person_id)

sql = ("SELECT * FROM movies.tb_person")

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
    print(x)

(1, 'Francis Ford Coppola', 'United States', datetime.date(1939, 4, 7), None, None, 'OS_SGAD', None, None)
(2, 'Carmine Coppola', 'United States', datetime.date(1945, 7, 8), None, None, 'OS_SGAD', None, None)
(3, 'Marlon Brando', 'United States', datetime.date(1924, 4, 3), datetime.date(2004, 7, 1), None, 'OS_SGAD', None, None)
(4, 'Robert Duvall', 'United States', datetime.date(1931, 1, 5), None, None, 'OS_SGAD', None, None)
(5, 'Martin Sheen', 'United States', datetime.date(1940, 8, 3), None, None, 'OS_SGAD', None, None)
(6, 'Harrison Ford', 'United States', datetime.date(1942, 7, 13), None, None, 'OS_SGAD', None, None)
(7, 'George Lucas', 'United States', datetime.date(1944, 5, 14), None, None, 'OS_SGAD', None, None)
(8, 'Gary Kurtz', 'United States', datetime.date(1940, 7, 27), None, None, 'OS_SGAD', None, None)
(9, 'Steven Spielberg', 'United States', datetime.date(1946, 12, 18), None, None, 'OS_SGAD', None, None)
(10, 'John Williams', 'United States', datetime.date(1928, 8, 8), None, None, 'OS_SGAD', None, None)
(11, 'Tom Hanks', 'United States', datetime.date(1956, 7, 9), None, None, 'OS_SGAD', None, None)
(12, 'Catherine Zeta-Jones', 'Wales', datetime.date(1969, 9, 25), None, None, 'OS_SGAD', None, None)
(13, 'Alfred Joseph Hitchcock', 'United Kingdom', datetime.date(1899, 8, 13), datetime.date(1980, 4, 29), None, 'OS_SGAD', None, None)
(14, 'Anthony Perkins', 'United States', datetime.date(1934, 4, 4), datetime.date(1992, 9, 8), None, 'OS_SGAD', None, None)
(15, 'Vera Miles', 'United States', datetime.date(1929, 8, 23), None, None, 'OS_SGAD', None, None)
(16, 'Emilio Martinez Lazaro', 'Spain', datetime.date(1956, 9, 9), None, None, 'OS_SGAD', None, None)
(17, 'Dani Rovira', 'Spain', datetime.date(1984, 7, 1), None, None, 'OS_SGAD', None, None)
(18, 'Clara Lago', 'Spain', datetime.date(1986, 4, 17), None, None, 'OS_SGAD', None, None)
(19, 'Carmen Machi', 'Spain', datetime.date(1964, 8, 9), None, None, 'OS_SGAD', None, None)
(20, 'Karra Elejalde', 'Spain', datetime.date(1960, 3, 6), None, None, 'OS_SGAD', None, None)
(21, 'Daniel Sanchez Arevalo', 'Spain', datetime.date(1970, 6, 8), None, None, 'OS_SGAD', None, None)
(22, 'Quim Gutierrez', 'Spain', datetime.date(1981, 3, 27), None, None, 'OS_SGAD', None, None)
(23, 'Robert Alamo', 'Spain', datetime.date(1970, 5, 6), None, None, 'OS_SGAD', None, None)
(24, 'Hector Colome', 'Spain', datetime.date(1944, 10, 25), datetime.date(2015, 2, 28), None, 'OS_SGAD', None, None)
(25, 'Veronica Echegui', 'Spain', datetime.date(1983, 3, 14), None, None, 'OS_SGAD', None, None)
(26, 'Patrick Criado', 'Spain', datetime.date(1995, 9, 23), None, None, 'OS_SGAD', None, None)
(27, 'Sean Connery', 'Scotland', datetime.date(1930, 7, 8), None, None, 'OS_SGAD', None, None)
(28, 'Mel Gibson', 'Australia', datetime.date(1950, 8, 9), None, None, 'OS_SGAD', None, None)
(29, 'Morgan Freeman', 'United States', datetime.date(1935, 10, 1), None, None, 'OS_SGAD', None, None)
(30, 'Tim Robbins', 'United States', datetime.date(1949, 6, 7), None, None, 'OS_SGAD', None, None)
(41, 'Charlie Sheen', 'United States', datetime.date(1965, 9, 3), None, 5, 'OS_SGAD', None, None)
(42, 'Emilio Estevez', 'United States', datetime.date(1962, 5, 12), None, 5, 'OS_SGAD', None, None)
(43, 'Ramón Estevez', 'United States', datetime.date(1963, 8, 7), None, 5, 'OS_SGAD', None, None)
(44, 'Reneé Estevez', 'United States', datetime.date(1967, 4, 2), None, 5, 'OS_SGAD', None, None)
(45, 'Paula Speert Sheen', 'United States', datetime.date(1986, 1, 6), None, 41, 'OS_SGAD', None, None)
(46, 'Bob Sheen', 'United States', datetime.date(2009, 5, 1), None, 41, 'OS_SGAD', None, None)
(47, 'Max Sheen', 'United States', datetime.date(2009, 5, 1), None, 41, 'OS_SGAD', None, None)
(48, 'Sam Sheen', 'United States', datetime.date(2004, 3, 9), None, 41, 'OS_SGAD', None, None)
(49, 'Lola Sheen', 'United States', datetime.date(2005, 6, 1), None, 41, 'OS_SGAD', None, None)
(50, 'Paula Jones-Sheen', 'United States', datetime.date(2003, 7, 6), None, 45, 'OS_SGAD', None, None)
(51, 'Paloma Rae Estevez', 'United States', datetime.date(1986, 2, 15), None, 42, 'OS_SGAD', None, None)
(52, 'Taylor Levi Estevez', 'United States', datetime.date(1984, 6, 22), None, 42, 'OS_SGAD', None, None)

In [10]:
#En la taula movies.tb_movie_person surt l'id de la pel·lícula (movie_id) relacionat amb qui ha participat (person_id), i el rol que ha 
#tingut (rol_id), si la pel·lícula ha obtingut algun premi(movie_award_ind) l'usuari que l'ha creat(OS_SGAD), la data de creació i actualització. Hi ha tres claus primàries (movie_id, person_id, rol_id)


sql = ("SELECT * FROM movies.tb_movie_person")

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
    print(x)

(1, 1, 2, 'Y', 'OS_SGAD', None, None)
(1, 1, 3, 'N', 'OS_SGAD', None, None)
(1, 1, 5, 'N', 'OS_SGAD', None, None)
(1, 2, 5, 'N', 'OS_SGAD', None, None)
(1, 3, 1, 'N', 'OS_SGAD', None, None)
(1, 4, 1, 'N', 'OS_SGAD', None, None)
(1, 5, 1, 'Y', 'OS_SGAD', None, None)
(1, 6, 1, 'N', 'OS_SGAD', None, None)
(1, 41, 1, 'N', 'OS_SGAD', None, None)
(2, 6, 1, 'N', 'OS_SGAD', None, None)
(2, 7, 2, 'Y', 'OS_SGAD', None, None)
(2, 8, 3, 'N', 'OS_SGAD', None, None)
(3, 6, 1, 'N', 'OS_SGAD', None, None)
(3, 7, 1, 'N', 'OS_SGAD', None, None)
(3, 7, 4, 'N', 'OS_SGAD', None, None)
(3, 9, 2, 'N', 'OS_SGAD', None, None)
(3, 10, 5, 'N', 'OS_SGAD', None, None)
(4, 9, 2, 'N', 'OS_SGAD', None, None)
(4, 9, 3, 'N', 'OS_SGAD', None, None)
(4, 11, 1, 'N', 'OS_SGAD', None, None)
(4, 12, 1, 'N', 'OS_SGAD', None, None)
(5, 9, 2, 'N', 'OS_SGAD', None, None)
(6, 9, 2, 'N', 'OS_SGAD', None, None)
(7, 13, 1, 'N', 'OS_SGAD', None, None)
(7, 13, 2, 'N', 'OS_SGAD', None, None)
(7, 13, 3, 'N', 'OS_SGAD', None, None)
(7, 14, 2, 'N', 'OS_SGAD', None, None)
(7, 15, 2, 'N', 'OS_SGAD', None, None)
(8, 16, 2, 'N', 'OS_SGAD', None, None)
(8, 17, 1, 'N', 'OS_SGAD', None, None)
(8, 18, 1, 'N', 'OS_SGAD', None, None)
(8, 19, 1, 'N', 'OS_SGAD', None, None)
(8, 20, 1, 'N', 'OS_SGAD', None, None)
(9, 16, 2, 'N', 'OS_SGAD', None, None)
(9, 17, 1, 'N', 'OS_SGAD', None, None)
(9, 18, 1, 'N', 'OS_SGAD', None, None)
(9, 19, 1, 'N', 'OS_SGAD', None, None)
(9, 20, 1, 'N', 'OS_SGAD', None, None)
(10, 16, 2, 'N', 'OS_SGAD', None, None)
(11, 21, 2, 'N', 'OS_SGAD', None, None)
(11, 21, 4, 'N', 'OS_SGAD', None, None)
(11, 22, 1, 'N', 'OS_SGAD', None, None)
(11, 23, 1, 'N', 'OS_SGAD', None, None)
(11, 24, 1, 'N', 'OS_SGAD', None, None)
(11, 25, 1, 'N', 'OS_SGAD', None, None)
(11, 26, 1, 'N', 'OS_SGAD', None, None)
(13, 28, 1, 'Y', 'OS_SGAD', None, None)
(13, 28, 2, 'N', 'OS_SGAD', None, None)
(14, 29, 1, 'N', 'OS_SGAD', None, None)
(14, 30, 1, 'N', 'OS_SGAD', None, None)

In [15]:
#Exercici2

sql = "SELECT  person_name , person_country , person_dod FROM movies.tb_person WHERE person_dod is not null order by person_dod asc"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
  print(x)

('Alfred Joseph Hitchcock', 'United Kingdom', datetime.date(1980, 4, 29))
('Anthony Perkins', 'United States', datetime.date(1992, 9, 8))
('Marlon Brando', 'United States', datetime.date(2004, 7, 1))
('Hector Colome', 'Spain', datetime.date(2015, 2, 28))

In [16]:
#Exercici3

sql = "SELECT genre_name, COUNT(genre_id) FROM movies.tb_genre JOIN movies.tb_movie ON genre_id = movie_genre_id GROUP BY genre_id ORDER BY COUNT(genre_id) DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
  print(x)

mycursor.nextset()

('Comedia', 3)
('Acción', 2)
('Ciencia Ficción', 2)
('Drama', 2)
('Suspense', 2)
('Fantasía', 1)
('Romance', 1)
('Terror', 1)
('Bélico', 1)

In [21]:
#Exercici 4
sql = "SELECT DISTINCT person_name , MAX(role_id) FROM movies.tb_movie_person INNER JOIN movies.tb_person ON movies.tb_person.person_id= movies.tb_movie_person.person_id GROUP BY person_name"


mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
    print(x)

('Francis Ford Coppola', 5)
('Carmine Coppola', 5)
('Marlon Brando', 1)
('Robert Duvall', 1)
('Martin Sheen', 1)
('Harrison Ford', 1)
('George Lucas', 4)
('Gary Kurtz', 3)
('Steven Spielberg', 3)
('John Williams', 5)
('Tom Hanks', 1)
('Catherine Zeta-Jones', 1)
('Alfred Joseph Hitchcock', 3)
('Anthony Perkins', 2)
('Vera Miles', 2)
('Emilio Martinez Lazaro', 2)
('Dani Rovira', 1)
('Clara Lago', 1)
('Carmen Machi', 1)
('Karra Elejalde', 1)
('Daniel Sanchez Arevalo', 4)
('Quim Gutierrez', 1)
('Robert Alamo', 1)
('Hector Colome', 1)
('Veronica Echegui', 1)
('Patrick Criado', 1)
('Mel Gibson', 2)
('Morgan Freeman', 1)
('Tim Robbins', 1)
('Charlie Sheen', 1)

In [23]:
sql = "SELECT DISTINCT person_name , MAX(role_id) FROM movies.tb_movie_person INNER JOIN movies.tb_person ON movies.tb_person.person_id= movies.tb_movie_person.person_id WHERE movies.tb_movie_person.role_id > 1 GROUP BY person_name"


mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
    print(x)

('Francis Ford Coppola', 5)
('George Lucas', 4)
('Steven Spielberg', 3)
('Alfred Joseph Hitchcock', 3)
('Anthony Perkins', 2)
('Vera Miles', 2)
('Emilio Martinez Lazaro', 2)
('Daniel Sanchez Arevalo', 4)
('Mel Gibson', 2)
('Gary Kurtz', 3)
('Carmine Coppola', 5)
('John Williams', 5)

In [ ]:
sql = "INSERT INTO movies.tb_genre (genre_id, genre_name) VALUES (69, 'Documental')"

In [23]:
sql = ("SELECT * FROM movies.tb_genre")

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
    print(x)

(1, 'Acción', 'OS_SGAD', None, None)
(2, 'Ciencia Ficción', 'OS_SGAD', None, None)
(3, 'Comedia', 'OS_SGAD', None, None)
(4, 'Drama', 'OS_SGAD', None, None)
(5, 'Fantasía', 'apermag', None, None)
(6, 'Melodrama', 'apermag', datetime.date(2018, 9, 1), datetime.date(2018, 9, 27))
(7, 'Musical', 'OS_SGAD', None, None)
(8, 'Romance', 'OS_SGAD', None, None)
(9, 'Suspense', 'OS_SGAD', None, None)
(10, 'Terror', 'OS_SGAD', None, None)
(11, 'Bélico', 'OS_SGAD', None, None)
(69, 'Documental', 'OS_SGAD', None, None)

In [24]:
#Exercici6

sql= "set foreign_key_checks=0"


mycursor.execute(sql)

sql = "DELETE FROM movies.tb_movie WHERE movie_title = 'La Gran Familia Española'"

mycursor.execute(sql)



myresult = mycursor.fetchall()

for x in myresult:
    
    print(x)

In [25]:
sql="SELECT * FROM movies.tb_movie"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
    print(x)

(1, 'Apocalypse Now', datetime.date(1979, 5, 10), 'Film', 11, 'OS_SGAD', None, None)
(2, 'Star Wars:Episode IV - A New Hope', datetime.date(1977, 5, 25), 'Film', 2, 'OS_SGAD', None, None)
(3, 'Indiana Jones and the Temple of Doom', datetime.date(1984, 5, 8), 'Film', 1, 'OS_SGAD', None, None)
(4, 'The Terminal', datetime.date(2004, 6, 18), 'Digital', 3, 'OS_SGAD', None, None)
(5, 'Jaws', datetime.date(1975, 1, 1), 'Film', 10, 'OS_SGAD', None, None)
(6, 'ET The Extraterrestrial', datetime.date(1982, 7, 25), 'Film', 5, 'OS_SGAD', None, None)
(7, 'Psycho', datetime.date(1960, 5, 6), 'Film', 9, 'OS_SGAD', None, None)
(8, 'Ocho Apellidos Vascos', datetime.date(2014, 3, 14), 'Digital', 3, 'OS_SGAD', None, None)
(9, 'Ocho Apellidos Catalanes', datetime.date(2016, 6, 9), 'Digital', 3, 'OS_SGAD', None, None)
(10, 'El otro lado de la cama', datetime.date(2002, 9, 4), 'Digital', 8, 'OS_SGAD', None, None)
(12, 'El dia de la bestia', datetime.date(1994, 12, 25), 'Film', 1, 'OS_SGAD', None, None)
(13, 'Braveheart', datetime.date(1995, 8, 8), 'Film', 4, 'OS_SGAD', None, None)
(14, 'The Shawshank Redemption', datetime.date(1992, 1, 7), 'Film', 4, 'OS_SGAD', None, None)
(15, 'Las brujas de Zugarramurdi', datetime.date(2009, 10, 7), 'Digital', 9, 'OS_SGAD', None, None)
(16, 'Blade Runner', datetime.date(1982, 12, 25), 'Digital', 2, 'OS_SGAD', None, None)

In [24]:
#Exercici7

sql = "UPDATE movies.tb_movie SET movie_genre_id = '3' WHERE movie_title = 'Ocho Apellidos Catalanes'"

mycursor.execute(sql)

In [25]:
sql="SELECT * FROM movies.tb_movie"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
    print(x)

(1, 'Apocalypse Now', datetime.date(1979, 5, 10), 'Film', 11, 'OS_SGAD', None, None)
(2, 'Star Wars:Episode IV - A New Hope', datetime.date(1977, 5, 25), 'Film', 2, 'OS_SGAD', None, None)
(3, 'Indiana Jones and the Temple of Doom', datetime.date(1984, 5, 8), 'Film', 1, 'OS_SGAD', None, None)
(4, 'The Terminal', datetime.date(2004, 6, 18), 'Digital', 3, 'OS_SGAD', None, None)
(5, 'Jaws', datetime.date(1975, 1, 1), 'Film', 10, 'OS_SGAD', None, None)
(6, 'ET The Extraterrestrial', datetime.date(1982, 7, 25), 'Film', 5, 'OS_SGAD', None, None)
(7, 'Psycho', datetime.date(1960, 5, 6), 'Film', 9, 'OS_SGAD', None, None)
(8, 'Ocho Apellidos Vascos', datetime.date(2014, 3, 14), 'Digital', 3, 'OS_SGAD', None, None)
(9, 'Ocho Apellidos Catalanes', datetime.date(2016, 6, 9), 'Digital', 3, 'OS_SGAD', None, None)
(10, 'El otro lado de la cama', datetime.date(2002, 9, 4), 'Digital', 8, 'OS_SGAD', None, None)
(12, 'El dia de la bestia', datetime.date(1994, 12, 25), 'Film', 1, 'OS_SGAD', None, None)
(13, 'Braveheart', datetime.date(1995, 8, 8), 'Film', 4, 'OS_SGAD', None, None)
(14, 'The Shawshank Redemption', datetime.date(1992, 1, 7), 'Film', 4, 'OS_SGAD', None, None)
(15, 'Las brujas de Zugarramurdi', datetime.date(2009, 10, 7), 'Digital', 9, 'OS_SGAD', None, None)
(16, 'Blade Runner', datetime.date(1982, 12, 25), 'Digital', 2, 'OS_SGAD', None, None)

In [26]:
sql= "set foreign_key_checks=1"


mycursor.execute(sql)

In [27]:
mydb.commit()